.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.conditions,
.info-day {
  width: 15%;
}

.info > img {
  width: 100px;
}

.conditions::first-letter {
  text-transform: capitalize;
}

@media screen and (max-width: 1000px) {
  .recharts-wrapper {
    width: 90% !important;
  }

  .recharts-surface {
    width: 100%;
  }
}

@media screen and (max-width: 535px) {
  .weather-hours * {
    font-size: 12px;
  }
  .weatherIcon {
    width: 70px;
  }
}
